
	code for sm_70
		Function : probe_memory
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM70 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM70)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                           /* 0x00000a0000017a02 */
                                                                                    /* 0x000fe40000000f00 */
        /*0010*/              @!PT SHFL.IDX PT, RZ, RZ, RZ, RZ ;                    /* 0x000000fffffff389 */
                                                                                    /* 0x000fe200000e00ff */
        /*0020*/                   S2R R4, SR_TID.X ;                               /* 0x0000000000047919 */
                                                                                    /* 0x000e220000002100 */
        /*0030*/                   MOV R5, 0x4 ;                                    /* 0x0000000400057802 */
                                                                                    /* 0x000fca0000000f00 */
        /*0040*/                   IMAD.WIDE R2, R4, R5, c[0x0][0x168] ;            /* 0x00005a0004027625 */
                                                                                    /* 0x001fd000078e0205 */
        /*0050*/                   LDG.E.SYS R2, [R2] ;                             /* 0x0000000002027381 */
                                                                                    /* 0x000ea200001ee900 */
        /*0060*/                   SHF.L.U32 R7, R4.reuse, 0x2, RZ ;                /* 0x0000000204077819 */
                                                                                    /* 0x040fe200000006ff */
        /*0070*/                   IMAD.WIDE R4, R4, R5, c[0x0][0x160] ;            /* 0x0000580004047625 */
                                                                                    /* 0x000fe200078e0205 */
        /*0080*/                   I2F R0, R2 ;                                     /* 0x0000000200007306 */
                                                                                    /* 0x004e2c0000201400 */
        /*0090*/                   STS [R7], R0 ;                                   /* 0x0000000007007388 */
                                                                                    /* 0x001fe80000000800 */
        /*00a0*/                   NOP ;                                            /* 0x0000000000007918 */
                                                                                    /* 0x000fe20000000000 */
        /*00b0*/                   BAR.SYNC 0x0 ;                                   /* 0x0000000000007b1d */
                                                                                    /* 0x000fea0000000000 */
        /*00c0*/                   LDS.U R9, [R7] ;                                 /* 0x0000000007097984 */
                                                                                    /* 0x000e280000001800 */
        /*00d0*/                   STG.E.SYS [R4], R9 ;                             /* 0x0000000904007386 */
                                                                                    /* 0x001fe2000010e900 */
        /*00e0*/                   EXIT ;                                           /* 0x000000000000794d */
                                                                                    /* 0x000fea0003800000 */
        /*00f0*/                   BRA 0xf0;                                        /* 0xfffffff000007947 */
                                                                                    /* 0x000fc0000383ffff */
		..........


		Function : probe_ldc
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM70 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM70)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;          /* 0x00000a00ff017624 */
                                                                                    /* 0x000fe400078e00ff */
        /*0010*/              @!PT SHFL.IDX PT, RZ, RZ, RZ, RZ ;                    /* 0x000000fffffff389 */
                                                                                    /* 0x000fe200000e00ff */
        /*0020*/                   MOV R0, c[0x0][0x168] ;                          /* 0x00005a0000007a02 */
                                                                                    /* 0x000fc80000000f00 */
        /*0030*/                   ISETP.GT.AND P0, PT, R0, 0x3f, PT ;              /* 0x0000003f0000780c */
                                                                                    /* 0x000fd80003f04270 */
        /*0040*/               @P0 EXIT ;                                           /* 0x000000000000094d */
                                                                                    /* 0x000fea0003800000 */
        /*0050*/                   IMAD.SHL.U32 R0, R0, 0x4, RZ ;                   /* 0x0000000400007824 */
                                                                                    /* 0x000fe200078e00ff */
        /*0060*/                   MOV R2, c[0x0][0x160] ;                          /* 0x0000580000027a02 */
                                                                                    /* 0x000fe20000000f00 */
        /*0070*/                   IMAD.MOV.U32 R3, RZ, RZ, c[0x0][0x164] ;         /* 0x00005900ff037624 */
                                                                                    /* 0x000fc800078e00ff */
        /*0080*/                   LDC R5, c[0x3][R0] ;                             /* 0x00c0000000057b82 */
                                                                                    /* 0x000e280000000800 */
        /*0090*/                   STG.E.SYS [R2], R5 ;                             /* 0x0000000502007386 */
                                                                                    /* 0x001fe2000010e900 */
        /*00a0*/                   EXIT ;                                           /* 0x000000000000794d */
                                                                                    /* 0x000fea0003800000 */
        /*00b0*/                   BRA 0xb0;                                        /* 0xfffffff000007947 */
                                                                                    /* 0x000fc0000383ffff */
        /*00c0*/                   NOP;                                             /* 0x0000000000007918 */
                                                                                    /* 0x000fc00000000000 */
        /*00d0*/                   NOP;                                             /* 0x0000000000007918 */
                                                                                    /* 0x000fc00000000000 */
        /*00e0*/                   NOP;                                             /* 0x0000000000007918 */
                                                                                    /* 0x000fc00000000000 */
        /*00f0*/                   NOP;                                             /* 0x0000000000007918 */
                                                                                    /* 0x000fc00000000000 */
		..........


		Function : probe_float_compare
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM70 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM70)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;          /* 0x00000a00ff017624 */
                                                                                    /* 0x000fe400078e00ff */
        /*0010*/              @!PT SHFL.IDX PT, RZ, RZ, RZ, RZ ;                    /* 0x000000fffffff389 */
                                                                                    /* 0x000fe200000e00ff */
        /*0020*/                   IMAD.MOV.U32 R5, RZ, RZ, c[0x0][0x170] ;         /* 0x00005c00ff057624 */
                                                                                    /* 0x000fe400078e00ff */
        /*0030*/                   IMAD.MOV.U32 R7, RZ, RZ, c[0x0][0x168] ;         /* 0x00005a00ff077624 */
                                                                                    /* 0x000fe400078e00ff */
        /*0040*/                   IMAD.MOV.U32 R2, RZ, RZ, c[0x0][0x160] ;         /* 0x00005800ff027624 */
                                                                                    /* 0x000fe200078e00ff */
        /*0050*/                   FSETP.GEU.AND P1, PT, R5, c[0x0][0x174], PT ;    /* 0x00005d0005007a0b */
                                                                                    /* 0x000fe20003f2e000 */
        /*0060*/                   IMAD.MOV.U32 R3, RZ, RZ, c[0x0][0x164] ;         /* 0x00005900ff037624 */
                                                                                    /* 0x000fe200078e00ff */
        /*0070*/                   FSETP.GT.AND P0, PT, R7, c[0x0][0x16c], PT ;     /* 0x00005b0007007a0b */
                                                                                    /* 0x000fe40003f04000 */
        /*0080*/                   FSEL R5, R5, c[0x0][0x174], !P1 ;                /* 0x00005d0005057a08 */
                                                                                    /* 0x000fe40004800000 */
        /*0090*/                   FSEL R0, R7, c[0x0][0x16c], P0 ;                 /* 0x00005b0007007a08 */
                                                                                    /* 0x000fc40000000000 */
        /*00a0*/                   FSET.BF.EQ.AND R7, R7, c[0x0][0x16c], PT ;       /* 0x00005b0007077a0a */
                                                                                    /* 0x000fe40003802000 */
        /*00b0*/                   FSETP.GT.AND P0, PT, R0, R5, PT ;                /* 0x000000050000720b */
                                                                                    /* 0x000fc80003f04000 */
        /*00c0*/                   FSEL R5, R0, R5, P0 ;                            /* 0x0000000500057208 */
                                                                                    /* 0x000fe40000000000 */
        /*00d0*/                   STG.E.SYS [R2+0x4], R7 ;                         /* 0x0000040702007386 */
                                                                                    /* 0x000fec000010e900 */
        /*00e0*/                   STG.E.SYS [R2], R5 ;                             /* 0x0000000502007386 */
                                                                                    /* 0x000fe2000010e900 */
        /*00f0*/                   EXIT ;                                           /* 0x000000000000794d */
                                                                                    /* 0x000fea0003800000 */
        /*0100*/                   BRA 0x100;                                       /* 0xfffffff000007947 */
                                                                                    /* 0x000fc0000383ffff */
        /*0110*/                   NOP;                                             /* 0x0000000000007918 */
                                                                                    /* 0x000fc00000000000 */
        /*0120*/                   NOP;                                             /* 0x0000000000007918 */
                                                                                    /* 0x000fc00000000000 */
        /*0130*/                   NOP;                                             /* 0x0000000000007918 */
                                                                                    /* 0x000fc00000000000 */
        /*0140*/                   NOP;                                             /* 0x0000000000007918 */
                                                                                    /* 0x000fc00000000000 */
        /*0150*/                   NOP;                                             /* 0x0000000000007918 */
                                                                                    /* 0x000fc00000000000 */
        /*0160*/                   NOP;                                             /* 0x0000000000007918 */
                                                                                    /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                             /* 0x0000000000007918 */
                                                                                    /* 0x000fc00000000000 */
		..........


		Function : probe_bitops
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM70 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM70)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;          /* 0x00000a00ff017624 */
                                                                                    /* 0x000fe400078e00ff */
        /*0010*/              @!PT SHFL.IDX PT, RZ, RZ, RZ, RZ ;                    /* 0x000000fffffff389 */
                                                                                    /* 0x000fe200000e00ff */
        /*0020*/                   IMAD.MOV.U32 R0, RZ, RZ, c[0x0][0x168] ;         /* 0x00005a00ff007624 */
                                                                                    /* 0x000fc800078e00ff */
        /*0030*/                   IMAD.SHL.U32 R2, R0.reuse, 0x4, RZ ;             /* 0x0000000400027824 */
                                                                                    /* 0x040fe200078e00ff */
        /*0040*/                   LOP3.LUT R3, R0, 0x2, RZ, 0xc0, !PT ;            /* 0x0000000200037812 */
                                                                                    /* 0x000fe400078ec0ff */
        /*0050*/                   SHF.R.U32.HI R5, RZ, 0x2, R0 ;                   /* 0x00000002ff057819 */
                                                                                    /* 0x000fe40000011600 */
        /*0060*/                   LOP3.LUT R2, R3, 0x4, R2, 0xf8, !PT ;            /* 0x0000000403027812 */
                                                                                    /* 0x000fe400078ef802 */
        /*0070*/                   SHF.R.U32.HI R3, RZ, 0x3, R0.reuse ;             /* 0x00000003ff037819 */
                                                                                    /* 0x100fe40000011600 */
        /*0080*/                   LOP3.LUT R2, R2, 0x1, R5, 0xf8, !PT ;            /* 0x0000000102027812 */
                                                                                    /* 0x000fe200078ef805 */
        /*0090*/                   IMAD.MOV.U32 R5, RZ, RZ, c[0x0][0x170] ;         /* 0x00005c00ff057624 */
                                                                                    /* 0x000fe200078e00ff */
        /*00a0*/                   SHF.R.U32.HI R4, RZ, 0x1e, R0 ;                  /* 0x0000001eff047819 */
                                                                                    /* 0x000fc60000011600 */
        /*00b0*/                   IMAD.SHL.U32 R2, R2, 0x2, RZ ;                   /* 0x0000000202027824 */
                                                                                    /* 0x000fca00078e00ff */
        /*00c0*/                   LOP3.LUT R3, R2, 0xfffffffe, R3, 0xe2, !PT ;     /* 0xfffffffe02037812 */
                                                                                    /* 0x000fe400078ee203 */
        /*00d0*/                   SHF.R.U32.HI R2, RZ, 0x4, R0 ;                   /* 0x00000004ff027819 */
                                                                                    /* 0x000fc60000011600 */
        /*00e0*/                   IMAD.SHL.U32 R3, R3, 0x2, RZ ;                   /* 0x0000000203037824 */
                                                                                    /* 0x000fca00078e00ff */
        /*00f0*/                   LOP3.LUT R2, R3, 0xfffffffe, R2, 0xe2, !PT ;     /* 0xfffffffe03027812 */
                                                                                    /* 0x000fe400078ee202 */
        /*0100*/                   SHF.R.U32.HI R3, RZ, 0x5, R0 ;                   /* 0x00000005ff037819 */
                                                                                    /* 0x000fc60000011600 */
        /*0110*/                   IMAD.SHL.U32 R2, R2, 0x2, RZ ;                   /* 0x0000000202027824 */
                                                                                    /* 0x000fca00078e00ff */
        /*0120*/                   LOP3.LUT R3, R2, 0xfffffffe, R3, 0xe2, !PT ;     /* 0xfffffffe02037812 */
                                                                                    /* 0x000fe400078ee203 */
        /*0130*/                   SHF.R.U32.HI R2, RZ, 0x6, R0 ;                   /* 0x00000006ff027819 */
                                                                                    /* 0x000fc60000011600 */
        /*0140*/                   IMAD.SHL.U32 R3, R3, 0x2, RZ ;                   /* 0x0000000203037824 */
                                                                                    /* 0x000fca00078e00ff */
        /*0150*/                   LOP3.LUT R2, R3, 0xfffffffe, R2, 0xe2, !PT ;     /* 0xfffffffe03027812 */
                                                                                    /* 0x000fe400078ee202 */
        /*0160*/                   SHF.R.U32.HI R3, RZ, 0x7, R0 ;                   /* 0x00000007ff037819 */
                                                                                    /* 0x000fc60000011600 */
        /*0170*/                   IMAD.SHL.U32 R2, R2, 0x2, RZ ;                   /* 0x0000000202027824 */
                                                                                    /* 0x000fca00078e00ff */
        /*0180*/                   LOP3.LUT R3, R2, 0xfffffffe, R3, 0xe2, !PT ;     /* 0xfffffffe02037812 */
                                                                                    /* 0x000fe400078ee203 */
        /*0190*/                   SHF.R.U32.HI R2, RZ, 0x8, R0 ;                   /* 0x00000008ff027819 */
                                                                                    /* 0x000fc60000011600 */
        /*01a0*/                   IMAD.SHL.U32 R3, R3, 0x2, RZ ;                   /* 0x0000000203037824 */
                                                                                    /* 0x000fca00078e00ff */
        /*01b0*/                   LOP3.LUT R2, R3, 0xfffffffe, R2, 0xe2, !PT ;     /* 0xfffffffe03027812 */
                                                                                    /* 0x000fe400078ee202 */
        /*01c0*/                   SHF.R.U32.HI R3, RZ, 0x9, R0 ;                   /* 0x00000009ff037819 */
                                                                                    /* 0x000fc60000011600 */
        /*01d0*/                   IMAD.SHL.U32 R2, R2, 0x2, RZ ;                   /* 0x0000000202027824 */
                                                                                    /* 0x000fca00078e00ff */
        /*01e0*/                   LOP3.LUT R3, R2, 0xfffffffe, R3, 0xe2, !PT ;     /* 0xfffffffe02037812 */
                                                                                    /* 0x000fe400078ee203 */
        /*01f0*/                   SHF.R.U32.HI R2, RZ, 0xa, R0 ;                   /* 0x0000000aff027819 */
                                                                                    /* 0x000fc60000011600 */
        /*0200*/                   IMAD.SHL.U32 R3, R3, 0x2, RZ ;                   /* 0x0000000203037824 */
                                                                                    /* 0x000fca00078e00ff */
        /*0210*/                   LOP3.LUT R2, R3, 0xfffffffe, R2, 0xe2, !PT ;     /* 0xfffffffe03027812 */
                                                                                    /* 0x000fe400078ee202 */
        /*0220*/                   SHF.R.U32.HI R3, RZ, 0xb, R0 ;                   /* 0x0000000bff037819 */
                                                                                    /* 0x000fc60000011600 */
        /*0230*/                   IMAD.SHL.U32 R2, R2, 0x2, RZ ;                   /* 0x0000000202027824 */
                                                                                    /* 0x000fca00078e00ff */
        /*0240*/                   LOP3.LUT R3, R2, 0xfffffffe, R3, 0xe2, !PT ;     /* 0xfffffffe02037812 */
                                                                                    /* 0x000fe400078ee203 */
        /*0250*/                   SHF.R.U32.HI R2, RZ, 0xc, R0 ;                   /* 0x0000000cff027819 */
                                                                                    /* 0x000fc60000011600 */
        /*0260*/                   IMAD.SHL.U32 R3, R3, 0x2, RZ ;                   /* 0x0000000203037824 */
                                                                                    /* 0x000fca00078e00ff */
        /*0270*/                   LOP3.LUT R2, R3, 0xfffffffe, R2, 0xe2, !PT ;     /* 0xfffffffe03027812 */
                                                                                    /* 0x000fe400078ee202 */
        /*0280*/                   SHF.R.U32.HI R3, RZ, 0xd, R0 ;                   /* 0x0000000dff037819 */
                                                                                    /* 0x000fc60000011600 */
        /*0290*/                   IMAD.SHL.U32 R2, R2, 0x2, RZ ;                   /* 0x0000000202027824 */
                                                                                    /* 0x000fca00078e00ff */
        /*02a0*/                   LOP3.LUT R3, R2, 0xfffffffe, R3, 0xe2, !PT ;     /* 0xfffffffe02037812 */
                                                                                    /* 0x000fe400078ee203 */
        /*02b0*/                   SHF.R.U32.HI R2, RZ, 0xe, R0 ;                   /* 0x0000000eff027819 */
                                                                                    /* 0x000fc60000011600 */
        /*02c0*/                   IMAD.SHL.U32 R3, R3, 0x2, RZ ;                   /* 0x0000000203037824 */
                                                                                    /* 0x000fca00078e00ff */
        /*02d0*/                   LOP3.LUT R2, R3, 0xfffffffe, R2, 0xe2, !PT ;     /* 0xfffffffe03027812 */
                                                                                    /* 0x000fe400078ee202 */
        /*02e0*/                   SHF.R.U32.HI R3, RZ, 0xf, R0 ;                   /* 0x0000000fff037819 */
                                                                                    /* 0x000fc60000011600 */
        /*02f0*/                   IMAD.SHL.U32 R2, R2, 0x2, RZ ;                   /* 0x0000000202027824 */
                                                                                    /* 0x000fca00078e00ff */
        /*0300*/                   LOP3.LUT R3, R2, 0xfffffffe, R3, 0xe2, !PT ;     /* 0xfffffffe02037812 */
                                                                                    /* 0x000fe400078ee203 */
        /*0310*/                   SHF.R.U32.HI R2, RZ, 0x10, R0 ;                  /* 0x00000010ff027819 */
                                                                                    /* 0x000fc60000011600 */
        /*0320*/                   IMAD.SHL.U32 R3, R3, 0x2, RZ ;                   /* 0x0000000203037824 */
                                                                                    /* 0x000fca00078e00ff */
        /*0330*/                   LOP3.LUT R2, R3, 0xfffffffe, R2, 0xe2, !PT ;     /* 0xfffffffe03027812 */
                                                                                    /* 0x000fe400078ee202 */
        /*0340*/                   SHF.R.U32.HI R3, RZ, 0x11, R0 ;                  /* 0x00000011ff037819 */
                                                                                    /* 0x000fc60000011600 */
        /*0350*/                   IMAD.SHL.U32 R2, R2, 0x2, RZ ;                   /* 0x0000000202027824 */
                                                                                    /* 0x000fca00078e00ff */
        /*0360*/                   LOP3.LUT R3, R2, 0xfffffffe, R3, 0xe2, !PT ;     /* 0xfffffffe02037812 */
                                                                                    /* 0x000fe400078ee203 */
        /*0370*/                   SHF.R.U32.HI R2, RZ, 0x12, R0 ;                  /* 0x00000012ff027819 */
                                                                                    /* 0x000fc60000011600 */
        /*0380*/                   IMAD.SHL.U32 R3, R3, 0x2, RZ ;                   /* 0x0000000203037824 */
                                                                                    /* 0x000fca00078e00ff */
        /*0390*/                   LOP3.LUT R2, R3, 0xfffffffe, R2, 0xe2, !PT ;     /* 0xfffffffe03027812 */
                                                                                    /* 0x000fe400078ee202 */
        /*03a0*/                   SHF.R.U32.HI R3, RZ, 0x13, R0 ;                  /* 0x00000013ff037819 */
                                                                                    /* 0x000fc60000011600 */
        /*03b0*/                   IMAD.SHL.U32 R2, R2, 0x2, RZ ;                   /* 0x0000000202027824 */
                                                                                    /* 0x000fca00078e00ff */
        /*03c0*/                   LOP3.LUT R3, R2, 0xfffffffe, R3, 0xe2, !PT ;     /* 0xfffffffe02037812 */
                                                                                    /* 0x000fe400078ee203 */
        /*03d0*/                   SHF.R.U32.HI R2, RZ, 0x14, R0 ;                  /* 0x00000014ff027819 */
                                                                                    /* 0x000fc60000011600 */
        /*03e0*/                   IMAD.SHL.U32 R3, R3, 0x2, RZ ;                   /* 0x0000000203037824 */
                                                                                    /* 0x000fca00078e00ff */
        /*03f0*/                   LOP3.LUT R2, R3, 0xfffffffe, R2, 0xe2, !PT ;     /* 0xfffffffe03027812 */
                                                                                    /* 0x000fe400078ee202 */
        /*0400*/                   SHF.R.U32.HI R3, RZ, 0x15, R0 ;                  /* 0x00000015ff037819 */
                                                                                    /* 0x000fc60000011600 */
        /*0410*/                   IMAD.SHL.U32 R2, R2, 0x2, RZ ;                   /* 0x0000000202027824 */
                                                                                    /* 0x000fca00078e00ff */
        /*0420*/                   LOP3.LUT R3, R2, 0xfffffffe, R3, 0xe2, !PT ;     /* 0xfffffffe02037812 */
                                                                                    /* 0x000fe400078ee203 */
        /*0430*/                   SHF.R.U32.HI R2, RZ, 0x16, R0 ;                  /* 0x00000016ff027819 */
                                                                                    /* 0x000fc60000011600 */
        /*0440*/                   IMAD.SHL.U32 R3, R3, 0x2, RZ ;                   /* 0x0000000203037824 */
                                                                                    /* 0x000fca00078e00ff */
        /*0450*/                   LOP3.LUT R2, R3, 0xfffffffe, R2, 0xe2, !PT ;     /* 0xfffffffe03027812 */
                                                                                    /* 0x000fe400078ee202 */
        /*0460*/                   SHF.R.U32.HI R3, RZ, 0x17, R0 ;                  /* 0x00000017ff037819 */
                                                                                    /* 0x000fc60000011600 */
        /*0470*/                   IMAD.SHL.U32 R2, R2, 0x2, RZ ;                   /* 0x0000000202027824 */
                                                                                    /* 0x000fca00078e00ff */
        /*0480*/                   LOP3.LUT R3, R2, 0xfffffffe, R3, 0xe2, !PT ;     /* 0xfffffffe02037812 */
                                                                                    /* 0x000fe400078ee203 */
        /*0490*/                   SHF.R.U32.HI R2, RZ, 0x18, R0 ;                  /* 0x00000018ff027819 */
                                                                                    /* 0x000fc60000011600 */
        /*04a0*/                   IMAD.SHL.U32 R3, R3, 0x2, RZ ;                   /* 0x0000000203037824 */
                                                                                    /* 0x000fca00078e00ff */
        /*04b0*/                   LOP3.LUT R2, R3, 0xfffffffe, R2, 0xe2, !PT ;     /* 0xfffffffe03027812 */
                                                                                    /* 0x000fe400078ee202 */
        /*04c0*/                   SHF.R.U32.HI R3, RZ, 0x19, R0 ;                  /* 0x00000019ff037819 */
                                                                                    /* 0x000fc60000011600 */
        /*04d0*/                   IMAD.SHL.U32 R2, R2, 0x2, RZ ;                   /* 0x0000000202027824 */
                                                                                    /* 0x000fca00078e00ff */
        /*04e0*/                   LOP3.LUT R3, R2, 0xfffffffe, R3, 0xe2, !PT ;     /* 0xfffffffe02037812 */
                                                                                    /* 0x000fe400078ee203 */
        /*04f0*/                   SHF.R.U32.HI R2, RZ, 0x1a, R0 ;                  /* 0x0000001aff027819 */
                                                                                    /* 0x000fc60000011600 */
        /*0500*/                   IMAD.SHL.U32 R3, R3, 0x2, RZ ;                   /* 0x0000000203037824 */
                                                                                    /* 0x000fca00078e00ff */
        /*0510*/                   LOP3.LUT R2, R3, 0xfffffffe, R2, 0xe2, !PT ;     /* 0xfffffffe03027812 */
                                                                                    /* 0x000fe400078ee202 */
        /*0520*/                   SHF.R.U32.HI R3, RZ, 0x1b, R0 ;                  /* 0x0000001bff037819 */
                                                                                    /* 0x000fc60000011600 */
        /*0530*/                   IMAD.SHL.U32 R2, R2, 0x2, RZ ;                   /* 0x0000000202027824 */
                                                                                    /* 0x000fca00078e00ff */
        /*0540*/                   LOP3.LUT R3, R2, 0xfffffffe, R3, 0xe2, !PT ;     /* 0xfffffffe02037812 */
                                                                                    /* 0x000fe400078ee203 */
        /*0550*/                   SHF.R.U32.HI R2, RZ, 0x1c, R0 ;                  /* 0x0000001cff027819 */
                                                                                    /* 0x000fc60000011600 */
        /*0560*/                   IMAD.SHL.U32 R3, R3, 0x2, RZ ;                   /* 0x0000000203037824 */
                                                                                    /* 0x000fca00078e00ff */
        /*0570*/                   LOP3.LUT R2, R3, 0xfffffffe, R2, 0xe2, !PT ;     /* 0xfffffffe03027812 */
                                                                                    /* 0x000fe400078ee202 */
        /*0580*/                   SHF.R.U32.HI R3, RZ, 0x1d, R0 ;                  /* 0x0000001dff037819 */
                                                                                    /* 0x000fc60000011600 */
        /*0590*/                   IMAD.SHL.U32 R2, R2, 0x2, RZ ;                   /* 0x0000000202027824 */
                                                                                    /* 0x000fca00078e00ff */
        /*05a0*/                   LOP3.LUT R2, R2, 0xfffffffe, R3, 0xe2, !PT ;     /* 0xfffffffe02027812 */
                                                                                    /* 0x000fe400078ee203 */
        /*05b0*/                   LOP3.LUT R3, R5, c[0x0][0x16c], RZ, 0xc0, !PT ;  /* 0x00005b0005037a12 */
                                                                                    /* 0x000fc600078ec0ff */
        /*05c0*/                   IMAD.SHL.U32 R7, R2, 0x2, RZ ;                   /* 0x0000000202077824 */
                                                                                    /* 0x000fe400078e00ff */
        /*05d0*/                   IMAD.SHL.U32 R2, R5, 0x10, RZ ;                  /* 0x0000001005027824 */
                                                                                    /* 0x000fe400078e00ff */
        /*05e0*/                   IMAD.SHL.U32 R3, R3, 0x10, RZ ;                  /* 0x0000001003037824 */
                                                                                    /* 0x000fe200078e00ff */
        /*05f0*/                   LOP3.LUT R5, R7, 0xfffffffe, R4, 0xe2, !PT ;     /* 0xfffffffe07057812 */
                                                                                    /* 0x000fc800078ee204 */
        /*0600*/                   LOP3.LUT R4, R3, c[0x0][0x168], R2, 0xf4, !PT ;  /* 0x00005a0003047a12 */
                                                                                    /* 0x000fe200078ef402 */
        /*0610*/                   IMAD.MOV.U32 R2, RZ, RZ, c[0x0][0x160] ;         /* 0x00005800ff027624 */
                                                                                    /* 0x000fe200078e00ff */
        /*0620*/                   SHF.L.U32.HI R5, R0, 0x1, R5 ;                   /* 0x0000000100057819 */
                                                                                    /* 0x000fe20000010605 */
        /*0630*/                   IMAD.MOV.U32 R3, RZ, RZ, c[0x0][0x164] ;         /* 0x00005900ff037624 */
                                                                                    /* 0x000fc600078e00ff */
        /*0640*/                   LOP3.LUT R5, R5, R4, RZ, 0x3c, !PT ;             /* 0x0000000405057212 */
                                                                                    /* 0x000fd000078e3cff */
        /*0650*/                   STG.E.SYS [R2], R5 ;                             /* 0x0000000502007386 */
                                                                                    /* 0x000fe2000010e900 */
        /*0660*/                   EXIT ;                                           /* 0x000000000000794d */
                                                                                    /* 0x000fea0003800000 */
        /*0670*/                   BRA 0x670;                                       /* 0xfffffff000007947 */
                                                                                    /* 0x000fc0000383ffff */
		..........


		Function : probe_cvt
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM70 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM70)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                           /* 0x00000a0000017a02 */
                                                                                    /* 0x000fe40000000f00 */
        /*0010*/              @!PT SHFL.IDX PT, RZ, RZ, RZ, RZ ;                    /* 0x000000fffffff389 */
                                                                                    /* 0x000fe200000e00ff */
        /*0020*/                   S2R R6, SR_TID.X ;                               /* 0x0000000000067919 */
                                                                                    /* 0x000e240000002100 */
        /*0030*/                   ISETP.GE.AND P0, PT, R6, c[0x0][0x170], PT ;     /* 0x00005c0006007a0c */
                                                                                    /* 0x001fd80003f06270 */
        /*0040*/               @P0 EXIT ;                                           /* 0x000000000000094d */
                                                                                    /* 0x000fea0003800000 */
        /*0050*/                   I2F R0, R6 ;                                     /* 0x0000000600007306 */
                                                                                    /* 0x000e220000201400 */
        /*0060*/                   MOV R5, 0x4 ;                                    /* 0x0000000400057802 */
                                                                                    /* 0x000fca0000000f00 */
        /*0070*/                   IMAD.WIDE R2, R6, R5, c[0x0][0x168] ;            /* 0x00005a0006027625 */
                                                                                    /* 0x000fc800078e0205 */
        /*0080*/                   IMAD.WIDE R4, R6, R5, c[0x0][0x160] ;            /* 0x0000580006047625 */
                                                                                    /* 0x000fc800078e0205 */
        /*0090*/                   FADD R0, R0, 0.5 ;                               /* 0x3f00000000007421 */
                                                                                    /* 0x001fcc0000000000 */
        /*00a0*/                   F2I.TRUNC.NTZ R7, R0 ;                           /* 0x0000000000077305 */
                                                                                    /* 0x000e30000020f100 */
        /*00b0*/                   I2F R9, R7 ;                                     /* 0x0000000700097306 */
                                                                                    /* 0x001e220000201400 */
        /*00c0*/                   STG.E.SYS [R2], R7 ;                             /* 0x0000000702007386 */
                                                                                    /* 0x000fe8000010e900 */
        /*00d0*/                   STG.E.SYS [R4], R9 ;                             /* 0x0000000904007386 */
                                                                                    /* 0x001fe2000010e900 */
        /*00e0*/                   EXIT ;                                           /* 0x000000000000794d */
                                                                                    /* 0x000fea0003800000 */
        /*00f0*/                   BRA 0xf0;                                        /* 0xfffffff000007947 */
                                                                                    /* 0x000fc0000383ffff */
		..........


		Function : probe_barriers
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM70 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM70)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                           /* 0x00000a0000017a02 */
                                                                                    /* 0x000fe40000000f00 */
        /*0010*/              @!PT SHFL.IDX PT, RZ, RZ, RZ, RZ ;                    /* 0x000000fffffff389 */
                                                                                    /* 0x000fe200000e00ff */
        /*0020*/                   S2R R5, SR_TID.X ;                               /* 0x0000000000057919 */
                                                                                    /* 0x000e220000002100 */
        /*0030*/                   MOV R2, c[0x0][0x160] ;                          /* 0x0000580000027a02 */
                                                                                    /* 0x000fe40000000f00 */
        /*0040*/                   MOV R3, c[0x0][0x164] ;                          /* 0x0000590000037a02 */
                                                                                    /* 0x000fe20000000f00 */
        /*0050*/                   NOP ;                                            /* 0x0000000000007918 */
                                                                                    /* 0x000fe20000000000 */
        /*0060*/                   BAR.SYNC 0x0 ;                                   /* 0x0000000000007b1d */
                                                                                    /* 0x000fee0000000000 */
        /*0070*/                   STG.E.SYS [R2], R5 ;                             /* 0x0000000502007386 */
                                                                                    /* 0x0011e2000010e900 */
        /*0080*/                   MEMBAR.SC.CTA ;                                  /* 0x0000000000007992 */
                                                                                    /* 0x000fea0000000000 */
        /*0090*/                   MEMBAR.SC.GPU ;                                  /* 0x0000000000007992 */
                                                                                    /* 0x000fea0000002000 */
        /*00a0*/                   ERRBAR;                                          /* 0x00000000000079ab */
                                                                                    /* 0x000fc00000000000 */
        /*00b0*/                   CCTL.IVALL ;                                     /* 0x00000000ff00798f */
                                                                                    /* 0x000fca0002000000 */
        /*00c0*/                   NOP ;                                            /* 0x0000000000007918 */
                                                                                    /* 0x000fe20000000000 */
        /*00d0*/                   BAR.SYNC 0x0 ;                                   /* 0x0000000000007b1d */
                                                                                    /* 0x000fea0000000000 */
        /*00e0*/                   EXIT ;                                           /* 0x000000000000794d */
                                                                                    /* 0x000fea0003800000 */
        /*00f0*/                   BRA 0xf0;                                        /* 0xfffffff000007947 */
                                                                                    /* 0x000fc0000383ffff */
		..........


		Function : probe_cal
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM70 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM70)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                           /* 0x00000a0000017a02 */
                                                                                    /* 0x000fe40000000f00 */
        /*0010*/              @!PT SHFL.IDX PT, RZ, RZ, RZ, RZ ;                    /* 0x000000fffffff389 */
                                                                                    /* 0x000fe200000e00ff */
        /*0020*/                   S2R R2, SR_TID.X ;                               /* 0x0000000000027919 */
                                                                                    /* 0x000e240000002100 */
        /*0030*/                   ISETP.GE.AND P0, PT, R2, c[0x0][0x168], PT ;     /* 0x00005a0002007a0c */
                                                                                    /* 0x001fd80003f06270 */
        /*0040*/               @P0 EXIT ;                                           /* 0x000000000000094d */
                                                                                    /* 0x000fea0003800000 */
        /*0050*/                   MOV R3, 0x4 ;                                    /* 0x0000000400037802 */
                                                                                    /* 0x000fe20000000f00 */
        /*0060*/                   IMAD R5, R2, R2, 0x1 ;                           /* 0x0000000102057424 */
                                                                                    /* 0x000fc800078e0202 */
        /*0070*/                   IMAD.WIDE R2, R2, R3, c[0x0][0x160] ;            /* 0x0000580002027625 */
                                                                                    /* 0x000fd000078e0203 */
        /*0080*/                   STG.E.SYS [R2], R5 ;                             /* 0x0000000502007386 */
                                                                                    /* 0x000fe2000010e900 */
        /*0090*/                   EXIT ;                                           /* 0x000000000000794d */
                                                                                    /* 0x000fea0003800000 */
        /*00a0*/                   BRA 0xa0;                                        /* 0xfffffff000007947 */
                                                                                    /* 0x000fc0000383ffff */
        /*00b0*/                   NOP;                                             /* 0x0000000000007918 */
                                                                                    /* 0x000fc00000000000 */
        /*00c0*/                   NOP;                                             /* 0x0000000000007918 */
                                                                                    /* 0x000fc00000000000 */
        /*00d0*/                   NOP;                                             /* 0x0000000000007918 */
                                                                                    /* 0x000fc00000000000 */
        /*00e0*/                   NOP;                                             /* 0x0000000000007918 */
                                                                                    /* 0x000fc00000000000 */
        /*00f0*/                   NOP;                                             /* 0x0000000000007918 */
                                                                                    /* 0x000fc00000000000 */
		..........


		Function : probe_control_flow
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM70 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM70)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;          /* 0x00000a00ff017624 */
                                                                                    /* 0x000fe400078e00ff */
        /*0010*/              @!PT SHFL.IDX PT, RZ, RZ, RZ, RZ ;                    /* 0x000000fffffff389 */
                                                                                    /* 0x000fe200000e00ff */
        /*0020*/                   ISETP.NE.AND P0, PT, RZ, c[0x0][0x168], PT ;     /* 0x00005a00ff007a0c */
                                                                                    /* 0x000fe20003f05270 */
        /*0030*/                   IMAD.MOV.U32 R2, RZ, RZ, c[0x0][0x160] ;         /* 0x00005800ff027624 */
                                                                                    /* 0x000fe200078e00ff */
        /*0040*/                   MOV R5, RZ ;                                     /* 0x000000ff00057202 */
                                                                                    /* 0x000fe40000000f00 */
        /*0050*/                   MOV R3, c[0x0][0x164] ;                          /* 0x0000590000037a02 */
                                                                                    /* 0x000fd00000000f00 */
        /*0060*/               @P0 IMAD.MOV.U32 R5, RZ, RZ, 0x1 ;                   /* 0x00000001ff050424 */
                                                                                    /* 0x000fe200078e00ff */
        /*0070*/                   NOP ;                                            /* 0x0000000000007918 */
                                                                                    /* 0x000fe20000000000 */
        /*0080*/               @P0 BAR.SYNC 0x0 ;                                   /* 0x0000000000000b1d */
                                                                                    /* 0x000fee0000000000 */
        /*0090*/                   STG.E.SYS [R2], R5 ;                             /* 0x0000000502007386 */
                                                                                    /* 0x000fe2000010e900 */
        /*00a0*/                   EXIT ;                                           /* 0x000000000000794d */
                                                                                    /* 0x000fea0003800000 */
        /*00b0*/                   BRA 0xb0;                                        /* 0xfffffff000007947 */
                                                                                    /* 0x000fc0000383ffff */
        /*00c0*/                   NOP;                                             /* 0x0000000000007918 */
                                                                                    /* 0x000fc00000000000 */
        /*00d0*/                   NOP;                                             /* 0x0000000000007918 */
                                                                                    /* 0x000fc00000000000 */
        /*00e0*/                   NOP;                                             /* 0x0000000000007918 */
                                                                                    /* 0x000fc00000000000 */
        /*00f0*/                   NOP;                                             /* 0x0000000000007918 */
                                                                                    /* 0x000fc00000000000 */
		..........


