# 构建产物
build/
cmake-build-*/

# 输出
*.sabin
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.exe

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# 系统
.DS_Store
Thumbs.db

.claude/
.gitnexus/
.reasonix/
AGENTS.md
CLAUDE.md
/MINDMAP.md
