
	code for sm_61
		Function : pattern7_gem_addr
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM61 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM61)"
                                                                                    /* 0x001c4400fe0007f6 */
        /*0008*/                   MOV R1, c[0x0][0x20] ;                           /* 0x4c98078000870001 */
        /*0010*/                   MOV R9, c[0x0][0x158] ;                          /* 0x4c98078005670009 */
        /*0018*/                   S2R R0, SR_TID.X ;                               /* 0xf0c8000002170000 */
                                                                                    /* 0x081fc400e2c007f0 */
        /*0028*/                   MOV R10, c[0x0][0x154] ;                         /* 0x4c9807800557000a */
        /*0030*/                   S2R R2, SR_CTAID.X ;                             /* 0xf0c8000002570002 */
        /*0038*/                   XMAD R4, R10.reuse, c[0x0] [0x14c], R9 ;         /* 0x4e00048005370a04 */
                                                                                    /* 0x081fd841fe2007ff */
        /*0048*/                   XMAD.MRG R7, R10, c[0x0] [0x150].H1, RZ ;        /* 0x4f107f8005470a07 */
        /*0050*/                   XMAD R0, R2.reuse, c[0x0] [0x8], R0 ;            /* 0x4e00000000270200 */
        /*0058*/                   XMAD.MRG R3, R2.reuse, c[0x0] [0x8].H1, RZ ;     /* 0x4f107f8000270203 */
                                                                                    /* 0x081fc440fea007e1 */
        /*0068*/                   XMAD.PSL.CBCC R0, R2.H1, R3.H1, R0 ;             /* 0x5b30001800370200 */
        /*0070*/                   XMAD.MRG R3, R9.reuse, c[0x0] [0x150].H1, RZ ;   /* 0x4f107f8005470903 */
        /*0078*/                   SHR R6, R0.reuse, 0x1e ;                         /* 0x3829000001e70006 */
                                                                                    /* 0x001fc400fea007f1 */
        /*0088*/                   ISCADD R5.CC, R0, c[0x0][0x140], 0x2 ;           /* 0x4c18810005070005 */
        /*0090*/                   XMAD R0, R9, c[0x0] [0x150], RZ ;                /* 0x4e007f8005470900 */
        /*0098*/                   IADD.X R6, R6, c[0x0][0x144] ;                   /* 0x4c10080005170606 */
                                                                                    /* 0x001fc400fea007e1 */
        /*00a8*/                   LEA R2.CC, R5, RZ ;                              /* 0x5bd780000ff70502 */
        /*00b0*/                   XMAD.PSL.CBCC R0, R9.H1, R3.H1, R0 ;             /* 0x5b30001800370900 */
        /*00b8*/                   LEA.HI.X P0, R3, R5, RZ, R6 ;                    /* 0x5bd803400ff70503 */
                                                                                    /* 0x081fc440fea207f1 */
        /*00c8*/                   XMAD.MRG R5, R10.reuse, c[0x0] [0x14c].H1, RZ ;  /* 0x4f107f8005370a05 */
        /*00d0*/                   XMAD R6, R10.reuse, c[0x0] [0x150], R0 ;         /* 0x4e00000005470a06 */
        /*00d8*/                   XMAD.PSL.CBCC R0, R10.H1.reuse, R5.H1, R4 ;      /* 0x5b30021800570a00 */
                                                                                    /* 0x001fc400fe8007e6 */
        /*00e8*/                   XMAD.PSL.CBCC R5, R10.H1, R7.H1, R6 ;            /* 0x5b30031800770a05 */
        /*00f0*/                   IADD R0, R0, R5 ;                                /* 0x5c10000000570000 */
        /*00f8*/                   ST.E [R2], R0, P0 ;                              /* 0xa090000000070200 */
                                                                                    /* 0x001f8000ffe007ff */
        /*0108*/                   EXIT ;                                           /* 0xe30000000007000f */
        /*0110*/                   BRA 0x110 ;                                      /* 0xe2400fffff87000f */
        /*0118*/                   NOP;                                             /* 0x50b0000000070f00 */
                                                                                    /* 0x001f8000fc0007e0 */
        /*0128*/                   NOP;                                             /* 0x50b0000000070f00 */
        /*0130*/                   NOP;                                             /* 0x50b0000000070f00 */
        /*0138*/                   NOP;                                             /* 0x50b0000000070f00 */
		..........


		Function : pattern4_mad_chain
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM61 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM61)"
                                                                                    /* 0x001c4400fe0007f6 */
        /*0008*/                   MOV R1, c[0x0][0x20] ;                           /* 0x4c98078000870001 */
        /*0010*/                   MOV R6, c[0x0][0x148] ;                          /* 0x4c98078005270006 */
        /*0018*/                   S2R R2, SR_TID.X ;                               /* 0xf0c8000002170002 */
                                                                                    /* 0x001fd000e22007f0 */
        /*0028*/                   MOV R0, c[0x0][0x14c] ;                          /* 0x4c98078005370000 */
        /*0030*/                   S2R R3, SR_CTAID.X ;                             /* 0xf0c8000002570003 */
        /*0038*/                   MOV R7, c[0x0][0x154] ;                          /* 0x4c98078005570007 */
                                                                                    /* 0x001f9800fe2207f1 */
        /*0048*/                   XMAD.MRG R5, R6.reuse, c[0x0] [0x14c].H1, RZ ;   /* 0x4f107f8005370605 */
        /*0050*/                   MOV R8, c[0x0][0x160] ;                          /* 0x4c98078005870008 */
        /*0058*/                   XMAD R0, R6, R0, c[0x0][0x150] ;                 /* 0x5100000005470600 */
                                                                                    /* 0x001fd040fe2007f1 */
        /*0068*/                   XMAD.PSL.CBCC R0, R6.H1, R5.H1, R0 ;             /* 0x5b30001800570600 */
        /*0070*/                   XMAD.MRG R5, R7.reuse, c[0x0] [0x158].H1, RZ ;   /* 0x4f107f8005670705 */
        /*0078*/                   MOV R6, c[0x0][0x16c] ;                          /* 0x4c98078005b70006 */
                                                                                    /* 0x003f8400fe2207f6 */
        /*0088*/                   XMAD R0, R7.reuse, c[0x0] [0x158], R0 ;          /* 0x4e00000005670700 */
        /*0090*/                   XMAD.PSL.CBCC R0, R7.H1, R5.H1, R0 ;             /* 0x5b30001800570700 */
        /*0098*/                   XMAD R4, R3, c[0x0] [0x8], R2 ;                  /* 0x4e00010000270304 */
                                                                                    /* 0x001fc400fe4207f4 */
        /*00a8*/                   XMAD.MRG R5, R3.reuse, c[0x0] [0x8].H1, RZ ;     /* 0x4f107f8000270305 */
        /*00b0*/                   IADD R2, R0, c[0x0][0x15c] ;                     /* 0x4c10000005770002 */
        /*00b8*/                   XMAD.PSL.CBCC R0, R3.H1, R5.H1, R4 ;             /* 0x5b30021800570300 */
                                                                                    /* 0x001f8400fe4207f3 */
        /*00c8*/                   XMAD.MRG R3, R8.reuse, c[0x0] [0x164].H1, RZ ;   /* 0x4f107f8005970803 */
        /*00d0*/                   XMAD R2, R8, c[0x0] [0x164], R2 ;                /* 0x4e00010005970802 */
        /*00d8*/                   SHR R5, R0, 0x1e ;                               /* 0x3829000001e70005 */
                                                                                    /* 0x001fc400fe6007f3 */
        /*00e8*/                   ISCADD R4.CC, R0, c[0x0][0x140], 0x2 ;           /* 0x4c18810005070004 */
        /*00f0*/                   XMAD.PSL.CBCC R0, R8.H1, R3.H1, R2 ;             /* 0x5b30011800370800 */
        /*00f8*/                   IADD.X R3, R5, c[0x0][0x144] ;                   /* 0x4c10080005170503 */
                                                                                    /* 0x001f8c00fe2007f2 */
        /*0108*/                   LEA R2.CC, R4, RZ ;                              /* 0x5bd780000ff70402 */
        /*0110*/                   IADD R0, R0, c[0x0][0x168] ;                     /* 0x4c10000005a70000 */
        /*0118*/                   XMAD.MRG R5, R6, c[0x0] [0x170].H1, RZ ;         /* 0x4f107f8005c70605 */
                                                                                    /* 0x001fd840fec007f2 */
        /*0128*/                   LEA.HI.X P0, R3, R4, RZ, R3 ;                    /* 0x5bd801c00ff70403 */
        /*0130*/                   XMAD R0, R6.reuse, c[0x0] [0x170], R0 ;          /* 0x4e00000005c70600 */
        /*0138*/                   XMAD.PSL.CBCC R0, R6.H1, R5.H1, R0 ;             /* 0x5b30001800570600 */
                                                                                    /* 0x001ffc00fe2007f4 */
        /*0148*/                   IADD R0, R0, c[0x0][0x174] ;                     /* 0x4c10000005d70000 */
        /*0150*/                   ST.E [R2], R0, P0 ;                              /* 0xa090000000070200 */
        /*0158*/                   EXIT ;                                           /* 0xe30000000007000f */
                                                                                    /* 0x001f8000fc0007ff */
        /*0168*/                   BRA 0x160 ;                                      /* 0xe2400fffff07000f */
        /*0170*/                   NOP;                                             /* 0x50b0000000070f00 */
        /*0178*/                   NOP;                                             /* 0x50b0000000070f00 */
		..........


		Function : pattern3_16bit_mul
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM61 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM61)"
                                                                                    /* 0x001c4400e22007f6 */
        /*0008*/                   MOV R1, c[0x0][0x20] ;                           /* 0x4c98078000870001 */
        /*0010*/                   S2R R0, SR_TID.X ;                               /* 0xf0c8000002170000 */
        /*0018*/                   S2R R2, SR_CTAID.X ;                             /* 0xf0c8000002570002 */
                                                                                    /* 0x003f8400ebe00731 */
        /*0028*/                   LDC.U16 R4, c[0x0][0x14c] ;                      /* 0xef92000014c7ff04 */
        /*0030*/                   LDC.U16 R5, c[0x0][0x148] ;                      /* 0xef9200001487ff05 */
        /*0038*/                   XMAD R0, R2, c[0x0] [0x8], R0 ;                  /* 0x4e00000000270200 */
                                                                                    /* 0x081fc400fec007e6 */
        /*0048*/                   XMAD.MRG R3, R2, c[0x0] [0x8].H1, RZ ;           /* 0x4f107f8000270203 */
        /*0050*/                   XMAD.PSL.CBCC R0, R2.H1, R3.H1, R0 ;             /* 0x5b30001800370200 */
        /*0058*/                   SHR R3, R0.reuse, 0x1e ;                         /* 0x3829000001e70003 */
                                                                                    /* 0x081fc400fe2007e6 */
        /*0068*/                   ISCADD R0.CC, R0, c[0x0][0x140], 0x2 ;           /* 0x4c18810005070000 */
        /*0070*/                   IADD.X R3, R3, c[0x0][0x144] ;                   /* 0x4c10080005170303 */
        /*0078*/                   LEA R2.CC, R0.reuse, RZ ;                        /* 0x5bd780000ff70002 */
                                                                                    /* 0x005f9800fe2027f5 */
        /*0088*/                   BFE R5, R5, 0x1000 ;                             /* 0x3801000100070505 */
        /*0090*/                   LEA.HI.X P0, R3, R0, RZ, R3 ;                    /* 0x5bd801c00ff70003 */
        /*0098*/                   BFE R0, R4, 0x1000 ;                             /* 0x3801000100070400 */
                                                                                    /* 0x001ffc00fe2007e6 */
        /*00a8*/                   XMAD.S16.S16 R0, R5, R0, c[0x0][0x150] ;         /* 0x5103000005470500 */
        /*00b0*/                   ST.E [R2], R0, P0 ;                              /* 0xa090000000070200 */
        /*00b8*/                   EXIT ;                                           /* 0xe30000000007000f */
                                                                                    /* 0x001f8000fc0007ff */
        /*00c8*/                   BRA 0xc0 ;                                       /* 0xe2400fffff07000f */
        /*00d0*/                   NOP;                                             /* 0x50b0000000070f00 */
        /*00d8*/                   NOP;                                             /* 0x50b0000000070f00 */
                                                                                    /* 0x001f8000fc0007e0 */
        /*00e8*/                   NOP;                                             /* 0x50b0000000070f00 */
        /*00f0*/                   NOP;                                             /* 0x50b0000000070f00 */
        /*00f8*/                   NOP;                                             /* 0x50b0000000070f00 */
		..........


		Function : pattern2_mad_shl_chain
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM61 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM61)"
                                                                                    /* 0x001c5800fe0007f6 */
        /*0008*/                   MOV R1, c[0x0][0x20] ;                           /* 0x4c98078000870001 */
        /*0010*/                   MOV R6, c[0x0][0x148] ;                          /* 0x4c98078005270006 */
        /*0018*/                   S2R R0, SR_TID.X ;                               /* 0xf0c8000002170000 */
                                                                                    /* 0x003f8400e3e007f0 */
        /*0028*/                   XMAD.MRG R5, R6, c[0x0] [0x14c].H1, RZ ;         /* 0x4f107f8005370605 */
        /*0030*/                   S2R R2, SR_CTAID.X ;                             /* 0xf0c8000002570002 */
        /*0038*/                   XMAD R0, R2, c[0x0] [0x8], R0 ;                  /* 0x4e00000000270200 */
                                                                                    /* 0x081fc400fec007e6 */
        /*0048*/                   XMAD.MRG R3, R2, c[0x0] [0x8].H1, RZ ;           /* 0x4f107f8000270203 */
        /*0050*/                   XMAD.PSL.CBCC R0, R2.H1, R3.H1, R0 ;             /* 0x5b30001800370200 */
        /*0058*/                   SHR R4, R0.reuse, 0x1e ;                         /* 0x3829000001e70004 */
                                                                                    /* 0x001fc400fca007e1 */
        /*0068*/                   ISCADD R3.CC, R0, c[0x0][0x140], 0x2 ;           /* 0x4c18810005070003 */
        /*0070*/                   MOV R0, c[0x0][0x14c] ;                          /* 0x4c98078005370000 */
        /*0078*/                   IADD.X R4, R4, c[0x0][0x144] ;                   /* 0x4c10080005170404 */
                                                                                    /* 0x001f8400fea007e1 */
        /*0088*/                   LEA R2.CC, R3, RZ ;                              /* 0x5bd780000ff70302 */
        /*0090*/                   XMAD R0, R6, R0, c[0x0][0x150] ;                 /* 0x5100000005470600 */
        /*0098*/                   LEA.HI.X P0, R3, R3, RZ, R4 ;                    /* 0x5bd802400ff70303 */
                                                                                    /* 0x001fc400fcc007f6 */
        /*00a8*/                   XMAD.PSL.CBCC R0, R6.H1, R5.H1, R0 ;             /* 0x5b30001800570600 */
        /*00b0*/                   SHL R0, R0, c[0x0][0x154] ;                      /* 0x4c48000005570000 */
        /*00b8*/                   ST.E [R2], R0, P0 ;                              /* 0xa090000000070200 */
                                                                                    /* 0x001f8000ffe007ff */
        /*00c8*/                   EXIT ;                                           /* 0xe30000000007000f */
        /*00d0*/                   BRA 0xd0 ;                                       /* 0xe2400fffff87000f */
        /*00d8*/                   NOP;                                             /* 0x50b0000000070f00 */
                                                                                    /* 0x001f8000fc0007e0 */
        /*00e8*/                   NOP;                                             /* 0x50b0000000070f00 */
        /*00f0*/                   NOP;                                             /* 0x50b0000000070f00 */
        /*00f8*/                   NOP;                                             /* 0x50b0000000070f00 */
		..........


		Function : pattern1_simple_mad
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM61 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM61)"
                                                                                    /* 0x001c4400fe0007f6 */
        /*0008*/                   MOV R1, c[0x0][0x20] ;                           /* 0x4c98078000870001 */
        /*0010*/                   MOV R6, c[0x0][0x148] ;                          /* 0x4c98078005270006 */
        /*0018*/                   S2R R0, SR_TID.X ;                               /* 0xf0c8000002170000 */
                                                                                    /* 0x003f8400e3e007f0 */
        /*0028*/                   MOV R4, c[0x0][0x14c] ;                          /* 0x4c98078005370004 */
        /*0030*/                   S2R R2, SR_CTAID.X ;                             /* 0xf0c8000002570002 */
        /*0038*/                   XMAD R0, R2, c[0x0] [0x8], R0 ;                  /* 0x4e00000000270200 */
                                                                                    /* 0x081fc400fec007e6 */
        /*0048*/                   XMAD.MRG R3, R2, c[0x0] [0x8].H1, RZ ;           /* 0x4f107f8000270203 */
        /*0050*/                   XMAD.PSL.CBCC R0, R2.H1, R3.H1, R0 ;             /* 0x5b30001800370200 */
        /*0058*/                   SHR R3, R0.reuse, 0x1e ;                         /* 0x3829000001e70003 */
                                                                                    /* 0x001f8400fe2007e6 */
        /*0068*/                   ISCADD R0.CC, R0, c[0x0][0x140], 0x2 ;           /* 0x4c18810005070000 */
        /*0070*/                   IADD.X R3, R3, c[0x0][0x144] ;                   /* 0x4c10080005170303 */
        /*0078*/                   LEA R2.CC, R0, RZ ;                              /* 0x5bd780000ff70002 */
                                                                                    /* 0x001f9800fc2007f5 */
        /*0088*/                   XMAD.MRG R5, R6, c[0x0] [0x14c].H1, RZ ;         /* 0x4f107f8005370605 */
        /*0090*/                   LEA.HI.X P0, R3, R0, RZ, R3 ;                    /* 0x5bd801c00ff70003 */
        /*0098*/                   XMAD R0, R6, R4, c[0x0][0x150] ;                 /* 0x5100020005470600 */
                                                                                    /* 0x001ffc00fe2007e6 */
        /*00a8*/                   XMAD.PSL.CBCC R0, R6.H1, R5.H1, R0 ;             /* 0x5b30001800570600 */
        /*00b0*/                   ST.E [R2], R0, P0 ;                              /* 0xa090000000070200 */
        /*00b8*/                   EXIT ;                                           /* 0xe30000000007000f */
                                                                                    /* 0x001f8000fc0007ff */
        /*00c8*/                   BRA 0xc0 ;                                       /* 0xe2400fffff07000f */
        /*00d0*/                   NOP;                                             /* 0x50b0000000070f00 */
        /*00d8*/                   NOP;                                             /* 0x50b0000000070f00 */
                                                                                    /* 0x001f8000fc0007e0 */
        /*00e8*/                   NOP;                                             /* 0x50b0000000070f00 */
        /*00f0*/                   NOP;                                             /* 0x50b0000000070f00 */
        /*00f8*/                   NOP;                                             /* 0x50b0000000070f00 */
		..........


