
	code for sm_61
		Function : probe_float_variants
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM61 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM61)"
                                                                                                     /* 0x001c4400fe0007f6 */
        /*0008*/                   MOV R1, c[0x0][0x20] ;                                            /* 0x4c98078000870001 */
        /*0010*/                   MOV32I R6, 0x3f800000 ;                                           /* 0x0103f8000007f006 */
        /*0018*/                   I2F.F32.S32 R0, c[0x0] [0x14c] ;                                  /* 0x4cb8000005372a00 */
                                                                                                     /* 0x005cc400e7c00731 */
        /*0028*/                   F2F.F64.F32 R2, c[0x0][0x148] ;                                   /* 0x4ca8000005270b02 */
        /*0030*/                   I2F.F64.S32 R4, c[0x0] [0x14c] ;                                  /* 0x4cb8000005372b04 */
        /*0038*/                   DFMA R2, R2, R4, c[0x0][0x0] ;                                    /* 0x5370020000070202 */
                                                                                                     /* 0x001f840206200ff7 */
        /*0048*/                   FADD R0, R0, c[0x0][0x148] ;                                      /* 0x4c58000005270000 */
        /*0050*/                   F2F.F32.F64 R5, R2 ;                                              /* 0x5ca8000000270e05 */
        /*0058*/                   FFMA R4, R0, c[0x0][0x148], R6 ;                                  /* 0x4980030005270004 */
                                                                                                     /* 0x001fc400fe400ff1 */
        /*0068*/                   MOV R2, c[0x0][0x140] ;                                           /* 0x4c98078005070002 */
        /*0070*/                   MOV R3, c[0x0][0x144] ;                                           /* 0x4c98078005170003 */
        /*0078*/                   STG.E [R2], R0 ;                                                  /* 0xeedc200000070200 */
                                                                                                     /* 0x001fbc02fe2007f1 */
        /*0088*/                   STG.E [R2+0x4], R4 ;                                              /* 0xeedc200000470204 */
        /*0090*/                   STG.E [R2+0x8], R5 ;                                              /* 0xeedc200000870205 */
        /*0098*/                   NOP ;                                                             /* 0x50b0000000070f00 */
                                                                                                     /* 0x001ffc00ffe007e2 */
        /*00a8*/                   NOP ;                                                             /* 0x50b0000000070f00 */
        /*00b0*/                   EXIT ;                                                            /* 0xe30000000007000f */
        /*00b8*/                   BRA 0xb8 ;                                                        /* 0xe2400fffff87000f */
		..........


		Function : probe_cf_sync
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM61 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM61)"
                                                                                                     /* 0x001c5800fe0007f6 */
        /*0008*/                   MOV R1, c[0x0][0x20] ;                                            /* 0x4c98078000870001 */
        /*0010*/                   MOV R3, c[0x0][0x148] ;                                           /* 0x4c98078005270003 */
        /*0018*/                   S2R R2, SR_TID.X ;                                                /* 0xf0c8000002170002 */
                                                                                                     /* 0x001f9841fe2007f1 */
        /*0028*/                   ISETP.GE.AND P0, PT, R3, 0x1, PT ;                                /* 0x366d038000170307 */
        /*0030*/                   SHR R0, R2.reuse, 0x1e ;                                          /* 0x3829000001e70200 */
        /*0038*/                   ISCADD R2.CC, R2, c[0x0][0x140], 0x2 ;                            /* 0x4c18810005070202 */
                                                                                                     /* 0x001fd800fe0007e5 */
        /*0048*/                   IADD.X R3, R0, c[0x0][0x144] ;                                    /* 0x4c10080005170003 */
        /*0050*/                   MOV R0, RZ ;                                                      /* 0x5c9807800ff70000 */
        /*0058*/              @!P0 BRA 0xc0 ;                                                        /* 0xe24000000608000f */
                                                                                                     /* 0x001fc400fec007f1 */
        /*0068*/                   MOV R5, RZ ;                                                      /* 0x5c9807800ff70005 */
        /*0070*/                   MOV R0, RZ ;                                                      /* 0x5c9807800ff70000 */
        /*0078*/                   NOP ;                                                             /* 0x50b0000000070f00 */
                                                                                                     /* 0x001fc400fea007e1 */
        /*0088*/                   IADD R0, R5, R0 ;                                                 /* 0x5c10000000070500 */
        /*0090*/                   IADD32I R5, R5, 0x1 ;                                             /* 0x1c00000000170505 */
        /*0098*/                   ISET.GE.U32.AND R4, R0, 0x3e9, PT ;                               /* 0x365c03803e970004 */
                                                                                                     /* 0x001ff400fda007e6 */
        /*00a8*/                   ISET.GE.AND R6, R5, c[0x0][0x148], PT ;                           /* 0x4b5d038005270506 */
        /*00b0*/                   LOP.AND.NZ P0, RZ, ~R4, ~R6 ;                                     /* 0x5c403180006704ff */
        /*00b8*/               @P0 BRA 0x80 ;                                                        /* 0xe2400ffffc00000f */
                                                                                                     /* 0x001f8800fde007f1 */
        /*00c8*/                   STG.E [R2], R0 ;                                                  /* 0xeedc200000070200 */
        /*00d0*/                   NOP ;                                                             /* 0x50b0000000070f00 */
        /*00d8*/                   NOP ;                                                             /* 0x50b0000000070f00 */
                                                                                                     /* 0x001f8000ffe007ff */
        /*00e8*/                   EXIT ;                                                            /* 0xe30000000007000f */
        /*00f0*/                   BRA 0xf0 ;                                                        /* 0xe2400fffff87000f */
        /*00f8*/                   NOP;                                                              /* 0x50b0000000070f00 */
		..........


		Function : probe_data_move
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM61 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM61)"
                                                                                                     /* 0x001c7c00fe0007f6 */
        /*0008*/                   MOV R1, c[0x0][0x20] ;                                            /* 0x4c98078000870001 */
        /*0010*/                   VOTE.ANY R4, PT, PT ;                                             /* 0x50d9e38000070004 */
        /*0018*/                   S2R R8, SR_TID.X ;                                                /* 0xf0c8000002170008 */
                                                                                                     /* 0x001fc000e2220ff0 */
        /*0028*/                   ISETP.GE.AND P0, PT, R8.reuse, 0x10, PT ;                         /* 0x366d038001070807 */
        /*0030*/                   SHFL.IDX PT, R0, R8, 0x1, 0x1f ;                                  /* 0xef17007c30170800 */
        /*0038*/                   SHR R3, R8, 0x1e ;                                                /* 0x3829000001e70803 */
                                                                                                     /* 0x101fc400fcc0072c */
        /*0048*/                   SHFL.BFLY PT, R7, R8, 0x1, 0x1f ;                                 /* 0xef17007cf0170807 */
        /*0050*/                   VOTE.ANY R6, PT, !P0 ;                                            /* 0x50d9e40000070006 */
        /*0058*/                   LOP.AND R5, R6, R4.reuse ;                                        /* 0x5c47000000470605 */
                                                                                                     /* 0x001f8800fc2007f5 */
        /*0068*/                   ISCADD R2.CC, R8, c[0x0][0x140], 0x2 ;                            /* 0x4c18810005070802 */
        /*0070*/                   ISET.EQ.U32.AND R10, R5, R4, PT ;                                 /* 0x5b5403800047050a */
        /*0078*/                   IADD.X R3, R3, c[0x0][0x144] ;                                    /* 0x4c10080005170303 */
                                                                                                     /* 0x001fc001fe2007f0 */
        /*0088*/                   MOV R4, c[0x0][0x140] ;                                           /* 0x4c98078005070004 */
        /*0090*/                   STG.E [R2], R0 ;                                                  /* 0xeedc200000070200 */
        /*0098*/                   MOV R5, c[0x0][0x144] ;                                           /* 0x4c98078005170005 */
                                                                                                     /* 0x001fc800fe0017f2 */
        /*00a8*/                   STG.E [R2+0x80], R7 ;                                             /* 0xeedc200008070207 */
        /*00b0*/                   ICMP.EQ.U32 R9, RZ, 0x1, R6 ;                                     /* 0x364403000017ff09 */
        /*00b8*/                   STG.E [R4+0x108], R6 ;                                            /* 0xeedc200010870406 */
                                                                                                     /* 0x001fc400fe4007f0 */
        /*00c8*/                   LOP32I.AND R10, R10, 0x1 ;                                        /* 0x0400000000170a0a */
        /*00d0*/                   STG.E [R4+0x100], R9 ;                                            /* 0xeedc200010070409 */
        /*00d8*/                   STG.E [R4+0x104], R10 ;                                           /* 0xeedc20001047040a */
                                                                                                     /* 0x001f8000ffe007ff */
        /*00e8*/                   EXIT ;                                                            /* 0xe30000000007000f */
        /*00f0*/                   BRA 0xf0 ;                                                        /* 0xe2400fffff87000f */
        /*00f8*/                   NOP;                                                              /* 0x50b0000000070f00 */
		..........


		Function : probe_lea
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM61 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM61)"
                                                                                                     /* 0x003f8400e3e007f6 */
        /*0008*/                   MOV R1, c[0x0][0x20] ;                                            /* 0x4c98078000870001 */
        /*0010*/                   S2R R4, SR_TID.X ;                                                /* 0xf0c8000002170004 */
        /*0018*/                   XMAD R2, R4, c[0x0] [0x150], RZ ;                                 /* 0x4e007f8005470402 */
                                                                                                     /* 0x081fc400fec007e6 */
        /*0028*/                   XMAD.MRG R3, R4, c[0x0] [0x150].H1, RZ ;                          /* 0x4f107f8005470403 */
        /*0030*/                   XMAD.PSL.CBCC R2, R4.H1, R3.H1, R2 ;                              /* 0x5b30011800370402 */
        /*0038*/                   SHR R0, R2.reuse, 0x1e ;                                          /* 0x3829000001e70200 */
                                                                                                     /* 0x001ec400fc4007e6 */
        /*0048*/                   ISCADD R2.CC, R2, c[0x0][0x148], 0x2 ;                            /* 0x4c18810005270202 */
        /*0050*/                   IADD.X R3, R0, c[0x0][0x14c] ;                                    /* 0x4c10080005370003 */
        /*0058*/                   LDG.E R2, [R2] ;                                                  /* 0xeed4200000070202 */
                                                                                                     /* 0x001f9c00fcc207f1 */
        /*0068*/                   SHR R0, R4.reuse, 0x1e ;                                          /* 0x3829000001e70400 */
        /*0070*/                   ISCADD R4.CC, R4, c[0x0][0x140], 0x2 ;                            /* 0x4c18810005070404 */
        /*0078*/                   IADD.X R5, R0, c[0x0][0x144] ;                                    /* 0x4c10080005170005 */
                                                                                                     /* 0x001ffc00ffe107f1 */
        /*0088*/                   STG.E [R4], R2 ;                                                  /* 0xeedc200000070402 */
        /*0090*/                   EXIT ;                                                            /* 0xe30000000007000f */
        /*0098*/                   BRA 0x98 ;                                                        /* 0xe2400fffff87000f */
                                                                                                     /* 0x001f8000fc0007e0 */
        /*00a8*/                   NOP;                                                              /* 0x50b0000000070f00 */
        /*00b0*/                   NOP;                                                              /* 0x50b0000000070f00 */
        /*00b8*/                   NOP;                                                              /* 0x50b0000000070f00 */
		..........


		Function : probe_int_variants
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM61 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM61)"
                                                                                                     /* 0x001fc400fe2007f6 */
        /*0008*/                   MOV R1, c[0x0][0x20] ;                                            /* 0x4c98078000870001 */
        /*0010*/                   MOV R11, c[0x0][0x14c] ;                                          /* 0x4c9807800537000b */
        /*0018*/                   MOV R5, c[0x0][0x148] ;                                           /* 0x4c98078005270005 */
                                                                                                     /* 0x001fc400fe200711 */
        /*0028*/                   POPC R0, c[0x0][0x148] ;                                          /* 0x4c08000005270000 */
        /*0030*/                   POPC R4, c[0x0][0x14c] ;                                          /* 0x4c08000005370004 */
        /*0038*/                   MOV R2, c[0x0][0x140] ;                                           /* 0x4c98078005070002 */
                                                                                                     /* 0x081fc040fe4007e1 */
        /*0048*/                   MOV R3, c[0x0][0x144] ;                                           /* 0x4c98078005170003 */
        /*0050*/                   BFE.U32.BREV R6, R11.reuse, 0x2000 ;                              /* 0x3800010200070b06 */
        /*0058*/                   LOP.AND R8, R11.reuse, c[0x0][0x148] ;                            /* 0x4c47000005270b08 */
                                                                                                     /* 0x001fc800fe000732 */
        /*0068*/                   FLO.U32.SH R6, R6 ;                                               /* 0x5c30020000670006 */
        /*0070*/                   BFE.U32.BREV R5, R5, 0x2000 ;                                     /* 0x3800010200070505 */
        /*0078*/                   STG.E [R2+0x10], R8 ;                                             /* 0xeedc200001070208 */
                                                                                                     /* 0x001fc000ea4207f0 */
        /*0088*/                   LOP.OR R9, R11.reuse, c[0x0][0x148] ;                             /* 0x4c47020005270b09 */
        /*0090*/                   FLO.U32.SH R5, R5 ;                                               /* 0x5c30020000570005 */
        /*0098*/                   LOP.PASS_B R12, RZ, ~c[0x0][0x148] ;                              /* 0x4c4707000527ff0c */
                                                                                                     /* 0x003ff400fe0007f1 */
        /*00a8*/                   STG.E [R2+0x14], R9 ;                                             /* 0xeedc200001470209 */
        /*00b0*/                   LOP.XOR R11, R11, c[0x0][0x148] ;                                 /* 0x4c47040005270b0b */
        /*00b8*/                   STG.E [R2], R0 ;                                                  /* 0xeedc200000070200 */
                                                                                                     /* 0x009fc000fe2017f0 */
        /*00c8*/                   IADD32I R7, R6, 0x1 ;                                             /* 0x1c00000000170607 */
        /*00d0*/                   STG.E [R2+0x4], R4 ;                                              /* 0xeedc200000470204 */
        /*00d8*/                   IADD32I R5, R5, 0x1 ;                                             /* 0x1c00000000170505 */
                                                                                                     /* 0x001fc400fe2007f1 */
        /*00e8*/                   STG.E [R2+0x1c], R12 ;                                            /* 0xeedc200001c7020c */
        /*00f0*/                   STG.E [R2+0x18], R11 ;                                            /* 0xeedc20000187020b */
        /*00f8*/                   STG.E [R2+0xc], R7 ;                                              /* 0xeedc200000c70207 */
                                                                                                     /* 0x001f8800fde007f1 */
        /*0108*/                   STG.E [R2+0x8], R5 ;                                              /* 0xeedc200000870205 */
        /*0110*/                   NOP ;                                                             /* 0x50b0000000070f00 */
        /*0118*/                   NOP ;                                                             /* 0x50b0000000070f00 */
                                                                                                     /* 0x001f8000ffe007ff */
        /*0128*/                   EXIT ;                                                            /* 0xe30000000007000f */
        /*0130*/                   BRA 0x130 ;                                                       /* 0xe2400fffff87000f */
        /*0138*/                   NOP;                                                              /* 0x50b0000000070f00 */
		..........


		Function : __cuda_sm20_rcp_rn_f32_slowpath
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM61 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM61)"
                                                                                                     /* 0x001fd800fec007f0 */
        /*0008*/                   IADD R0, R4, R4 ;                                                 /* 0x5c10000000470400 */
        /*0010*/                   PBK 0x1f0 ;                                                       /* 0xe2a000001d800000 */
        /*0018*/                   SHR.U32 R7, R0, 0x18 ;                                            /* 0x3828000001870007 */
                                                                                                     /* 0x001fb400ffa007ed */
        /*0028*/                   ISETP.NE.U32.AND P0, PT, R7, RZ, PT ;                             /* 0x5b6a03800ff70707 */
        /*0030*/               @P0 BRA 0x98 ;                                                        /* 0xe24000000600000f */
        /*0038*/                   ISETP.NE.AND P0, PT, R0, RZ, PT ;                                 /* 0x5b6b03800ff70007 */
                                                                                                     /* 0x001c5000fe4007f0 */
        /*0048*/               @P0 FFMA R0, R4, 1.84467440737095516160e+19, RZ ;                     /* 0x32807fdf80000400 */
        /*0050*/              @!P0 MUFU.RCP R4, R4 ;                                                 /* 0x5080000000480404 */
        /*0058*/               @P0 MUFU.RCP R3, R0 ;                                                 /* 0x5080000000400003 */
                                                                                                     /* 0x001fd800fec00ff6 */
        /*0068*/               @P0 FFMA R5, R0, R3, c[0x0][0x0] ;                                    /* 0x5180018000000005 */
        /*0070*/               @P0 FADD.FTZ R5, -R5, -RZ ;                                           /* 0x5c5930000ff00505 */
        /*0078*/               @P0 FFMA R5, R3, R5, R3 ;                                             /* 0x5980018000500305 */
                                                                                                     /* 0x001fd800ffa007f0 */
        /*0088*/               @P0 FFMA R4, R5, 1.84467440737095516160e+19, RZ ;                     /* 0x32807fdf80000504 */
        /*0090*/                   BRK ;                                                             /* 0xe34000000007000f */
        /*0098*/                   IADD32I R10, R7, -0xfd ;                                          /* 0x1c0ffffff037070a */
                                                                                                     /* 0x001fc400ffa007ed */
        /*00a8*/                   ISETP.GT.U32.AND P0, PT, R10, 0x1, PT ;                           /* 0x3668038000170a07 */
        /*00b0*/               @P0 BRA 0x1d8 ;                                                       /* 0xe24000001200000f */
        /*00b8*/                   LOP32I.AND R9, R4, 0x7fffff ;                                     /* 0x040007fffff70409 */
                                                                                                     /* 0x001fc000fe4007f5 */
        /*00c8*/                   MOV32I R8, 0x3 ;                                                  /* 0x010000000037f008 */
        /*00d0*/                   LOP32I.OR R0, R9, 0x3f800000 ;                                    /* 0x0423f80000070900 */
        /*00d8*/                   SHL R8, R8, R10 ;                                                 /* 0x5c48000000a70808 */
                                                                                                     /* 0x001fd401fe20071d */
        /*00e8*/                   MUFU.RCP R3, R0 ;                                                 /* 0x5080000000470003 */
        /*00f0*/                   FFMA R5, R0, R3, c[0x0][0x0] ;                                    /* 0x5180018000070005 */
        /*00f8*/                   IADD32I R0, R7, -0xfc ;                                           /* 0x1c0ffffff0470700 */
                                                                                                     /* 0x001fd5c0fe2007e6 */
        /*0108*/                   FADD.FTZ R5, -R5, -RZ ;                                           /* 0x5c5930000ff70505 */
        /*0110*/                   FFMA.RM R6, R3.reuse, R5.reuse, R3.reuse ;                        /* 0x5988018000570306 */
        /*0118*/                   FFMA.RP R5, R3, R5, R3 ;                                          /* 0x5990018000570305 */
                                                                                                     /* 0x001fc400fea207f1 */
        /*0128*/                   LOP32I.AND R3, R6.reuse, 0x7fffff ;                               /* 0x040007fffff70603 */
        /*0130*/                   FSET.NEU.FTZ.AND R5, R6, R5, PT ;                                 /* 0x588d038000570605 */
        /*0138*/                   LOP32I.OR R3, R3, 0x800000 ;                                      /* 0x0420080000070303 */
                                                                                                     /* 0x101fc400fe2007e5 */
        /*0148*/                   IADD R5, -R5, RZ ;                                                /* 0x5c1200000ff70505 */
        /*0150*/                   LOP.AND R8, R8, R3 ;                                              /* 0x5c47000000370808 */
        /*0158*/                   LOP3.LUT.NZ P1, RZ, R5, R10.reuse, R3, 0xf8 ;                     /* 0x5be101bf80a705ff */
                                                                                                     /* 0x081fc400fec007f4 */
        /*0168*/                   SHR.U32 R3, R3, R0 ;                                              /* 0x5c28000000070303 */
        /*0170*/                   SHR.U32 R8, R8, R10 ;                                             /* 0x5c28000000a70808 */
        /*0178*/                   LOP.AND.NZ P2, RZ, R8.reuse, 0x2 ;                                /* 0x38423000002708ff */
                                                                                                     /* 0x001fb000fc2007ec */
        /*0188*/                   LOP.AND.NZ P0, RZ, R8, 0x1 ;                                      /* 0x38403000001708ff */
        /*0190*/                   PSETP.OR.AND P1, PT, P1, P2, PT ;                                 /* 0x509003804107100f */
        /*0198*/                   ISETP.EQ.U32.AND P2, PT, R9, RZ, PT ;                             /* 0x5b6403800ff70917 */
                                                                                                     /* 0x001fd800ffa007ed */
        /*01a8*/                   PSETP.AND.AND P0, PT, P0, P1, PT ;                                /* 0x5090038020070007 */
        /*01b0*/               @P0 IADD32I R3, R3, 0x1 ;                                             /* 0x1c00000000100303 */
        /*01b8*/               @P2 SHL R3, R3, 0x1 ;                                                 /* 0x3848000000120303 */
                                                                                                     /* 0x001c4400ffa007f0 */
        /*01c8*/                   LOP3.LUT R4, R3, c[0x0][0x0], R4, 0xf8 ;                          /* 0x02f8020000070304 */
        /*01d0*/                   BRK ;                                                             /* 0xe34000000007000f */
        /*01d8*/                   MUFU.RCP R4, R4 ;                                                 /* 0x5080000000470404 */
                                                                                                     /* 0x001ffc01ffe007fd */
        /*01e8*/                   BRK ;                                                             /* 0xe34000000007000f */
        /*01f0*/                   RET ;                                                             /* 0xe32000000007000f */
        /*01f8*/                   BRA 0x1f8 ;                                                       /* 0xe2400fffff87000f */
		..........


		Function : probe_mufu
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM61 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM61)"
                                                                                                     /* 0x003fb400e3e007f6 */
        /*0008*/                   MOV R1, c[0x0][0x20] ;                                            /* 0x4c98078000870001 */
        /*0010*/                   S2R R4, SR_TID.X ;                                                /* 0xf0c8000002170004 */
        /*0018*/                   ISETP.GE.AND P0, PT, R4, c[0x0][0x150], PT ;                      /* 0x4b6d038005470407 */
                                                                                                     /* 0x001ff400fd2007ef */
        /*0028*/                   NOP ;                                                             /* 0x50b0000000070f00 */
        /*0030*/                   NOP ;                                                             /* 0x50b0000000070f00 */
        /*0038*/               @P0 EXIT ;                                                            /* 0xe30000000000000f */
                                                                                                     /* 0x001f9800fe2207f0 */
        /*0048*/                   SHR R0, R4.reuse, 0x1e ;                                          /* 0x3829000001e70400 */
        /*0050*/                   SSY 0x100 ;                                                       /* 0xe29000000a800000 */
        /*0058*/                   ISCADD R4.CC, R4, c[0x0][0x148], 0x2 ;                            /* 0x4c18810005270404 */
                                                                                                     /* 0x041f9800f6a007e2 */
        /*0068*/                   IADD.X R5, R0, c[0x0][0x14c] ;                                    /* 0x4c10080005370005 */
        /*0070*/                   LDG.E R2, [R4] ;                                                  /* 0xeed4200000070402 */
        /*0078*/                   FADD R2, R2, 1 ;                                                  /* 0x3858003f80070202 */
                                                                                                     /* 0x001fb400fec007e6 */
        /*0088*/                   IADD32I R0, R2, 0x1800000 ;                                       /* 0x1c00180000070200 */
        /*0090*/                   LOP32I.AND R0, R0, 0x7f800000 ;                                   /* 0x0407f80000070000 */
        /*0098*/                   ISETP.GT.U32.AND P0, PT, R0, c[0x0][0x0], PT ;                    /* 0x4b68038000070007 */
                                                                                                     /* 0x001ff400fec007fd */
        /*00a8*/               @P0 BRA 0xd0 ;                                                        /* 0xe24000000200000f */
        /*00b0*/                   MOV R4, R2 ;                                                      /* 0x5c98078000270004 */
        /*00b8*/                   JCAL 0x0 ;                                                        /* 0xe220000000000040 */
                                                                                                     /* 0x003fd800e3a007fd */
        /*00c8*/                   SYNC ;                                                            /* 0xf0f800000007000f */
        /*00d0*/                   MUFU.RCP R4, R2 ;                                                 /* 0x5080000000470204 */
        /*00d8*/                   FFMA R0, R2, R4, c[0x0][0x0] ;                                    /* 0x5180020000070200 */
                                                                                                     /* 0x001ff400fe0007f6 */
        /*00e8*/                   FADD.FTZ R3, -R0, -RZ ;                                           /* 0x5c5930000ff70003 */
        /*00f0*/                   FFMA R4, R4, R3, R4 ;                                             /* 0x5980020000370404 */
        /*00f8*/                   SYNC ;                                                            /* 0xf0f800000007000f */
                                                                                                     /* 0x001f8400fe2207f0 */
        /*0108*/                   FSETP.GEU.AND P0, PT, |R2|.reuse, 1.175494350822287508e-38, PT ;  /* 0x36be038080070287 */
        /*0110*/                   SSY 0x2c0 ;                                                       /* 0xe29000001a800000 */
        /*0118*/                   FMUL32I R5, R2, 1.4426950216293334961 ;                           /* 0x1e03fb8aa3b70205 */
                                                                                                     /* 0x001f9800fec007f5 */
        /*0128*/                   FMUL R0, R2, 16777216 ;                                           /* 0x3868004b80070200 */
        /*0130*/                   FSETP.GEU.AND P2, PT, R5, -126, PT ;                              /* 0x37be03c2fc070517 */
        /*0138*/                   SEL R0, R0, R2, !P0 ;                                             /* 0x5ca0040000270000 */
                                                                                                     /* 0x001fd400e22007f0 */
        /*0148*/                   IADD32I R3, R0, -0x800000 ;                                       /* 0x1c0ff80000070003 */
        /*0150*/                   MUFU.LG2 R6, R0 ;                                                 /* 0x5080000000370006 */
        /*0158*/              @!P2 FMUL R5, R5, 0.5 ;                                                /* 0x3868003f000a0505 */
                                                                                                     /* 0x001fc000fe4007f1 */
        /*0168*/                   ISETP.GE.U32.AND P1, PT, R3, c[0x0][0x0], PT ;                    /* 0x4b6c03800007030f */
        /*0170*/                   RRO.SINCOS R10, R2 ;                                              /* 0x5c9000000027000a */
        /*0178*/                   RRO.EX2 R12, R5 ;                                                 /* 0x5c9000800057000c */
                                                                                                     /* 0x001fc401fe0007f1 */
        /*0188*/                   MUFU.SIN R7, R10 ;                                                /* 0x5080000000170a07 */
        /*0190*/              @!P0 FADD R6, R6, -24 ;                                                /* 0x39580041c0080606 */
        /*0198*/                   MUFU.COS R8, R10 ;                                                /* 0x5080000000070a08 */
                                                                                                     /* 0x001fc000e30007f0 */
        /*01a8*/                   MOV R2, c[0x0][0x140] ;                                           /* 0x4c98078005070002 */
        /*01b0*/                   MUFU.EX2 R9, R12 ;                                                /* 0x5080000000270c09 */
        /*01b8*/                   MOV R3, c[0x0][0x144] ;                                           /* 0x4c98078005170003 */
                                                                                                     /* 0x0007f400fe000152 */
        /*01c8*/               @P1 MUFU.RSQ R5, R0 ;                                                 /* 0x5080000000510005 */
        /*01d0*/                   FMUL32I R11, R6, 0.69314718246459960938 ;                         /* 0x1e03f3172187060b */
        /*01d8*/                   STG.E [R2], R4 ;                                                  /* 0xeedc200000070204 */
                                                                                                     /* 0x0007c4003e200ff0 */
        /*01e8*/              @!P2 FMUL R9, R9, R9 ;                                                 /* 0x5c680000009a0909 */
        /*01f0*/                   STG.E [R2+0x8], R7 ;                                              /* 0xeedc200000870207 */
        /*01f8*/                   STG.E [R2+0xc], R8 ;                                              /* 0xeedc200000c70208 */
                                                                                                     /* 0x085fc400ffa001f1 */
        /*0208*/                   STG.E [R2+0x14], R11 ;                                            /* 0xeedc20000147020b */
        /*0210*/               @P1 SYNC ;                                                            /* 0xf0f800000001000f */
        /*0218*/                   LOP32I.AND R4, R0.reuse, 0xffffff ;                               /* 0x04000ffffff70004 */
                                                                                                     /* 0x001c5004fe4007f5 */
        /*0228*/                   MOV32I R8, 0x3f000000 ;                                           /* 0x0103f0000007f008 */
        /*0230*/                   LOP32I.OR R5, R4, 0x3f000000 ;                                    /* 0x0423f00000070405 */
        /*0238*/                   MUFU.RSQ R4, R5 ;                                                 /* 0x5080000000570504 */
                                                                                                     /* 0x183fd400fc2007f6 */
        /*0248*/                   IADD R0, -R0, R5 ;                                                /* 0x5c12000000570000 */
        /*0250*/              @!P0 IADD32I R0, R0, 0xc000000 ;                                       /* 0x1c00c00000080000 */
        /*0258*/                   FMUL R6, R4.reuse, R4.reuse ;                                     /* 0x5c68000000470406 */
                                                                                                     /* 0x081fd800fe2007f1 */
        /*0268*/                   SHR R0, R0, 0x1 ;                                                 /* 0x3829000000170000 */
        /*0270*/                   FFMA R7, R4, R4, -R6 ;                                            /* 0x5982030000470407 */
        /*0278*/                   FFMA R6, R5.reuse, -R6, c[0x0][0x0] ;                             /* 0x5181030000070506 */
                                                                                                     /* 0x001ff400fc2007f6 */
        /*0288*/                   FFMA R6, R5, -R7, R6 ;                                            /* 0x5981030000770506 */
        /*0290*/                   FFMA R7, R6, 0.375, R8 ;                                          /* 0x3280043ec0070607 */
        /*0298*/                   FMUL R6, R4, R6 ;                                                 /* 0x5c68000000670406 */
                                                                                                     /* 0x001ff400fe0007f6 */
        /*02a8*/                   FFMA R6, R7, R6, R4 ;                                             /* 0x5980020000670706 */
        /*02b0*/                   IADD R5, R6, R0 ;                                                 /* 0x5c10000000070605 */
        /*02b8*/                   SYNC ;                                                            /* 0xf0f800000007000f */
                                                                                                     /* 0x001ffc04fe2007f1 */
        /*02c8*/                   STG.E [R2+0x10], R9 ;                                             /* 0xeedc200001070209 */
        /*02d0*/                   STG.E [R2+0x4], R5 ;                                              /* 0xeedc200000470205 */
        /*02d8*/                   EXIT ;                                                            /* 0xe30000000007000f */
                                                                                                     /* 0x001f8000fc0007ff */
        /*02e8*/                   BRA 0x2e0 ;                                                       /* 0xe2400fffff07000f */
        /*02f0*/                   NOP;                                                              /* 0x50b0000000070f00 */
        /*02f8*/                   NOP;                                                              /* 0x50b0000000070f00 */
		..........


		Function : probe_atomics
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM61 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM61)"
                                                                                                     /* 0x001c4400fe0007f6 */
        /*0008*/                   MOV R1, c[0x0][0x20] ;                                            /* 0x4c98078000870001 */
        /*0010*/                   MOV R12, RZ ;                                                     /* 0x5c9807800ff7000c */
        /*0018*/                   S2R R13, SR_TID.X ;                                               /* 0xf0c800000217000d */
                                                                                                     /* 0x001c4441fe0007ff */
        /*0028*/                   MOV32I R9, 0xff ;                                                 /* 0x010000000ff7f009 */
        /*0030*/                   SHL R6, R13.reuse, 0x2 ;                                          /* 0x3848000000270d06 */
        /*0038*/                   I2F.F32.S32 R0, R13 ;                                             /* 0x5cb8000000d72a00 */
                                                                                                     /* 0x081fc840fec007f5 */
        /*0048*/                   SHR R7, R13, 0x1e ;                                               /* 0x3829000001e70d07 */
        /*0050*/                   IADD R2.CC, R6.reuse, c[0x0][0x140] ;                             /* 0x4c10800005070602 */
        /*0058*/                   IADD.X R3, R7.reuse, c[0x0][0x144] ;                              /* 0x4c10080005170703 */
                                                                                                     /* 0x001fc000fe2207f0 */
        /*0068*/                   IADD R4.CC, R6.reuse, c[0x0][0x150] ;                             /* 0x4c10800005470604 */
        /*0070*/                   ATOM.E.ADD RZ, [R2], R13 ;                                        /* 0xed01000000d702ff */
        /*0078*/                   MOV32I R10, 0xff00 ;                                              /* 0x0100000ff007f00a */
                                                                                                     /* 0x001fc440fe0007f5 */
        /*0088*/                   ATOM.E.EXCH RZ, [R2+0x80], R13 ;                                  /* 0xed81000800d702ff */
        /*0090*/                   IADD.X R5, R7.reuse, c[0x0][0x154] ;                              /* 0x4c10080005570705 */
        /*0098*/                   ATOM.E.CAS RZ, [R2+0x100], R12, R13 ;                             /* 0xeef1001000c702ff */
                                                                                                     /* 0x001fc000fec007f0 */
        /*00a8*/                   IADD R6.CC, R6, c[0x0][0x148] ;                                   /* 0x4c10800005270606 */
        /*00b0*/                   ATOM.E.MAX.S32 RZ, [R2+0x180], R13 ;                              /* 0xed23001800d702ff */
        /*00b8*/                   IADD.X R7, R7, c[0x0][0x14c] ;                                    /* 0x4c10080005370707 */
                                                                                                     /* 0x001fc400fe2007f1 */
        /*00c8*/                   ATOM.E.MIN.S32 RZ, [R2+0x200], R13 ;                              /* 0xed13002000d702ff */
        /*00d0*/                   ATOM.E.AND RZ, [R4], R9 ;                                         /* 0xed510000009704ff */
        /*00d8*/                   ATOM.E.OR RZ, [R4+0x80], R10 ;                                    /* 0xed61000800a704ff */
                                                                                                     /* 0x001ffc01fe6007f1 */
        /*00e8*/                   ATOM.E.XOR RZ, [R4+0x100], R13 ;                                  /* 0xed71001000d704ff */
        /*00f0*/                   ATOM.E.ADD.F32.FTZ.RN RZ, [R6], R0 ;                              /* 0xed070000000706ff */
        /*00f8*/                   EXIT ;                                                            /* 0xe30000000007000f */
                                                                                                     /* 0x001f8000fc0007ff */
        /*0108*/                   BRA 0x100 ;                                                       /* 0xe2400fffff07000f */
        /*0110*/                   NOP;                                                              /* 0x50b0000000070f00 */
        /*0118*/                   NOP;                                                              /* 0x50b0000000070f00 */
                                                                                                     /* 0x001f8000fc0007e0 */
        /*0128*/                   NOP;                                                              /* 0x50b0000000070f00 */
        /*0130*/                   NOP;                                                              /* 0x50b0000000070f00 */
        /*0138*/                   NOP;                                                              /* 0x50b0000000070f00 */
		..........


